
{% extends "layout.html" %}
{% block body %}

    <div class="row">

        <div class="col">
        <br><br>

        <table style="margin-left: 15px;"><tbody>
        {% for article in articles %}
            <tr>
                <td><a href="/article/{{article.id}}">{{article.title}} </a><br>
                {{article.summary(50)}}... <br></td>
                <td>{{', '.join(article.get_most_common())}}</td>
                <td>{{article.date}} </td>

            </tr>
         {% endfor %}
        </tbody></table>


        </div>
    </div>

    <br>


    <br>
    <div class="row">
        <div class="col-4">

            {% if page > 0 %}
                 {% if search %}
                    <b><a href="{{ url_for('get_search', page=page-1, search=search)}}">Previous Page</a></b>
                {% else %}
                    <b><a href="{{ url_for('get_news', page=page-1)}}">Previous Page</a></b>
                {% endif %}
            {% endif %}
        </div>
        <div class="col-4">
            <center>
            {{start}}-{{end}} of {{count}}
            </center>
        </div>
        <div class="col-4 text-right">
            {% if count > end %}

            {% if search %}
                    <b><a href="{{ url_for('get_search', page=page+1, search=search)}}">Next Page</a></b>
                {% else %}
                    <b><a href="{{ url_for('get_news', page=page+1)}}">Next Page</a></b>
                {% endif %}
            {%endif%}
        </div>
    </div>

    <br><br>
{% endblock %}